/* .Home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
} */


.Home{
  display: grid;
  grid-template-areas: "leftside main rightside";
  grid-template-columns: minmax(0,5fr) minmax(0,12fr) minmax(300px,7fr);
  column-gap:25px;
  row-gap: 25px;
  /*   */
  grid-template-rows: auto;

  margin: 25px 0;
}



@media (max-width:768px) {

  .Home{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
  }

  .r-button {
display: none;
  }

  .TrendCard {
    display: none;

  }

  .navIcons {

    position: fixed;
    bottom: 0;
    width: 90%;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 10px 0;

  }


}