.Post
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.Post>img{
    width: 100%;
    max-height: 40rem;
    
    object-fit: cover;
    border-radius: 0.5rem;
}

.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}



.liked {
 
cursor: pointer;
/* font-size: 30px; */
   
}

#PostSelect{
    height: auto;
    width: 100px;
    display: flex;
   justify-content: center;
    padding: 10px ;
    /* padding-left: 10px; */
    flex-direction: column;
    gap: 10px;
    border-radius:10px;
    background-color: rgb(255, 252, 252);
    color: rgb(102, 101, 101);
    font-size: 14px;
    position: absolute;
    right: 1rem;
    top: 1rem;

    transition: all ease-in-out 1s;
    font-weight: 500;
  
    -moz-box-shadow: 0 0 5px #999;
-webkit-box-shadow: 0 0 5px #999;
box-shadow: 0 0 5px #999;

}

#PostSelect p:hover{
    transition: all ease-in-out 0.5s;
   color:black;
   font-weight: 600;

}


.greyLine{
    height: 1px;
    background-color: rgb(216, 216, 216);
}

.comments-container input{

        background-color: var(--inputColor);
        border-radius: 10px;
        padding: 10px;
        font-size: 17px;
        border: none;
       
        outline: none;
        flex-grow: 1;
    
}


.comments-container > div{

    /* border: 1px solid red; */
    overflow-y: auto;
}

.reply-container {
    left: 0;
    width: 170px;
    justify-content: space-between;
 
    bottom: -1.5rem;
    position: absolute;
    align-items: self-start;
   
    display: flex;
    padding: 0 10px;
}



.comment-profile{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: 10px;
   
}

.comment{
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    margin-bottom: 2rem;
  
    
}
/* .child-comments{
    margin-left: 6rem;
} */

.reply-container span{
    font-size: 13px;
 
    font-weight: 600; 
  color: rgb(125, 125, 125);
cursor: pointer;
 padding: 0;
align-items: start;
justify-content: start;
    display: flex;

}

@media (max-width:768px) {
    .Post>img{
        max-height: 25rem;
    }

 
}





